@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

    <div>
        <h2>Enroll Student In a Course</h2>

        @if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }
        <form id="enrollCourse" method="POST">
            <table>
                <tr>
                    <td>
                        <label for="StudentId">Registration No</label>
                    </td>
                    <td>
                        <select id="StudentId" name="StudentId" style="width: 200px">
                            <option value="">Select....</option>
                            @foreach (var student in ViewBag.Students)
                            {
                                <option value="@student.Id">@student.RegNo</option>
                            }
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="Name">Name</label>
                    </td>
                    <td>
                        <input type="text" id="Name" name="Name" style="width: 300px" readonly="readonly"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="Email">Email</label>
                    </td>
                    <td>
                        <input type="text" id="Email" name="Email" style="width: 300px" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="DepartmentId">Department</label>
                    </td>
                    <td>
                        <input type="text" id="DepartmentId" name="DepartmentId" style="width: 300px" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="CourseId">Course</label>
                    </td>
                    <td>
                        <select id="CourseId" name="CourseId" style="width: 300px">
                            <option value="">Select....</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="EnrollDate">Date</label>
                    </td>
                    <td>
                        <input type="text" id="EnrollDate" name="EnrollDate" value="@DateTime.Now.ToShortDateString()" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Enroll" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    @section scripts{
        
        
<script src="~/Scripts/jquery-2.2.0.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
        <script>
            $(document).ready(function () {
                $('#EnrollDate').datepicker();
                $("#enrollCourse").validate({
                    rules: {
                        StudentId: "required",
                        CourseId: "required",
                        EnrollDate:"required"
                    },
                    messages: {
                        StudentId:"Please select student Registration No",
                        CourseId: "Please select Course",
                        EnrollDate:"Select the date"
                    }
                });

                $("#StudentId").change(function () {
                    var stId = $("#StudentId").val();
                    $("#CourseId").empty();
                    var json = { studentId: stId };

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetStudentById", "EnrollStudentInCourse")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {
                            //alert(data);

                            var name = data.Name;
                            var email = data.Email;
                            var dept = data.Department;
                            $("#Name").val(name);
                            $("#Email").val(email);
                            $("#DepartmentId").val(dept);
                        }
                    });


                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetCourseByStudentId", "EnrollStudentInCourse")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {


                            $.each(data, function (key, value) {
                                //alert(key);
                                $("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');

                            });
                        }
                    });

                });
            });
        </script>
        



    }
